{% block body %}

<h1>Page d'accueil</h1>

<p>Vous n'êtes pas connecté.</p>

<p>
    <a href="{{ path('login') }}">Connexion</a>
    <a href="{{ path('register') }}">Inscription</a>
</p>


{% endblock %}
